/*Cards with text box on the left side*/
.card-left{
  text-align: right;
}

.card-text-container {
  position: absolute;
  top: 20%;
  z-index: 9;
  max-width: 261px;
  background: rgba(38, 70, 83, 0.75);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.left {
  left: 20%;
}

.card-text {
  padding: 20px;
}

.card-title {
  position: absolute;
  top: -10%;
}

.card-title-line {
  width: 100%;
  background-color: #ff6f1e;
  border: 0.5px solid #ff6f1e;
}

.card-img {
  position: relative;
  width: 60%;
  height: 100%;
}
