* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

body {
  margin: 0;
  font-family: Nova Square;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #264653;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: flex;

  font-family: Nova Square;
  font-style: normal;
  font-weight: normal;

  letter-spacing: -0.05em;

}

h1 {
  font-size: clamp(40px, 8vw, 80px);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: clamp(40px, 5.38vw, 100px);
  color: #2a9d8f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: clamp(25px, 2vw, 60px);
  color: #ff6f1e;
}

h4 {
  font-size: clamp(18px, 1vw, 60px);
  width: 60%;
  color: white;
}

p {
  font-size: 1.1em;
  text-align: justify;
  color: #2a9d8f;
}

a {
  font-size: clamp(10px, 1.2rem, 50px);
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  margin: 20px 0;
  border: 2px solid #ff6f1e;
  border-radius: 11px;
  width: 175px;
  height: 53px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: center;
  color: #ff6f1e;
}

.section {
  display: flex;
  flex-direction: column;

  width: 60vw;
  min-height: 100vh;

  align-items: left;

  justify-content: center;
}

.section-title {
  color: white;
}

.section-title-line {
  margin: 0 0 10px;
  width: 30%;
  background-color: #ff6f1e;
  border: 0.5px solid #ff6f1e;
}

.card {
  margin: 2% 0 5% 0;
  position: relative;
  height: 45vh;
}
