body {
  margin: 0;
  font-family: Nova Square;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #264653;
}

h1 {
  font-family: Nova Square;
  font-style: normal;
  font-weight: normal;
  /* font-size: 90px; */
  font-size: 5.62rem;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.05em;
  padding: 0;
  margin: 0;
  text-align: left;


  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: Nova Square;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.05em;
  text-align: left;


  color: #2a9d8f;
  padding: 0;
  margin: 0;



  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-family: Nova Square;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: left;


  color: #ff6f1e;
  padding: 0;
  margin: 0;


}

p {
  font-family: Nova Square;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.05em;
  text-align: left;

  color: #2a9d8f;
  padding: 0;
  margin: 0;

}
