.card {
  margin: 3% 0;
  position: relative;
  height: 45vh;
}

.card-text-container {
  position: absolute;
  top: 20%;
  z-index: 9;
  width: clamp(200px, 260px, 320px);
  height: clamp(200px, 230px, 260px);
  background: $primary-color-transparent;
  filter: $shadow-right-bottom-strong;

  .card-title {
    position: absolute;
    top: -10%;
  }

  .card-title-line {
    width: 100%;
    background-color: $accent-color;
    border: 0.5px solid $accent-color;
  }

  .card-text {
    padding: 15px 15px 0 15px;
  }
}

// Card images & Overlay
.card-img {
  width: clamp(400px, 60%, 600px);
  height: clamp(200px, 100%, 600px);
}

.overlay {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
  top: 0%;
  width: clamp(400px, 60%, 600px);
  height: clamp(200px, 100%, 600px);
}

// Card with text box on the right side
.card-right {
  text-align: left;
  .card-text-container {
    right: 20%;
  }
  .card-title {
    display: block;
    text-align: right;
    width: 100%;
  }

  .card-links {
    right: 5%;
  }
}

// Card with the text box on the left side
.card-left {
  text-align: right;
  .card-text-container {
    left: 20%;
  }

  .overlay {
    right: 0%;
  }

  .card-links {
    left: 5%;
  }
}

.card-links {
  position: absolute;
  width: 30%;
  bottom: 2%;
  align-content: space-between;
  justify-content: space-between;

  a {
    margin: 0 5px;
  }

  svg {
    color: $accent-color;
    width: 20px;
    height: 20px;
  }
}